body {
}

#content {width:1005px;min-width: 1005px;margin: 0 auto; font-size:13px;}
#topNav{ width: 1005px;margin: 0 auto;margin-top: 10px;margin-bottom: 10px;}
.labelinfo { margin-right: 5px;}
#content ul li span{cursor:pointer;}
#content .panel-body span{cursor:pointer;}
#content ul #speli{display:block;}
/*#content ul #speli span{margin-bottom:3px;letter-spacing:0.0em;}
#content ul #speli span {margin-top:13px;margin-left:59px;float:left;}*/
#content ul #speli div {margin-top:8px;margin-left:59px;}
#content #list {width:auto; height:745px;}
#content #list #navsort {width:100%; height:19px;border-bottom-color:#e6e9ed;border-bottom-width:1px; border-bottom-style:solid;border-bottom-left-radius:2em;margin-bottom:10px;}
#content #list #navsort .btnw {width:85px;height:30px;}
.listcontent {float:left;width:196px; margin-right:5px;margin-bottom:5px; }
.listcontent img {width:196px;}
#page {text-align:center;}
#page li .gray { background-color: #3bafda; }
.pagination li .blue { background-color: #3bafda; }
.toggli{text-align:center;margin: 0 auto;}
.addspan{margin-left:3px;cursor:pointer;}
.listcontent{ margin-bottom: 5px;font-size: 12px;

                  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 17PX;
    
}
.pagination a[disabled]{  color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd;}
.pagination span.active{z-index: 2;color: #fff;cursor: default;background-color: #3bafda;border-color: #3bafda;}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{color:#000;text-decoration: none;font-weight: 600}
 
 
.spbq{
 
	float: left;
	line-height: 2;
 
	position: relative;
	overflow: hidden;
}
.spbq h2{
	color: #14191e;
	font: bold 14px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
 
}
.spbq span{
	display: block;
	color: #b4bbbf;
	font: 12px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
	margin: 8px 0;
}
.spbq b{
	color: #787d82;
	font: 12px/18px "Microsoft Yahei","Hiragino Sans GB",Helvetica,"微软雅黑",Tahoma,Arial,sans-serif;
}
.biankuang{
	width: 0px;
	height: 0px;
	position: absolute;
	z-index: 99;
	border-radius:10px;
	/*background: black;*/
}
.biankuang_1{
 
}
.biankuang_2 {
	width: 0px;
	bottom:0px;
	left: 0px;
	border-top: 0px solid white;
}
.biankuang_3{
	height: 0px;
	bottom:0px;
	right:0px;
	border-right: 0px solid white;
}
.biankuang_4{
	width:0px;
	top:0px;
	right:0px;
	border-bottom: 0px solid white;
}
.text_gobuy {
	position: absolute;
	z-index:9;
	top: -30px;
	left: 0px;
	width: 196px;
	height: 50px;
	overflow: hidden;
	background:rgba(207, 208, 211, 0);
	cursor: pointer;
	transition:all  300ms;
	-webkit-transition:all  300ms;
	-moz-transition:all  300ms;
	-o-transition:all  300ms;
}
.text_gobuy_show{
	height: 229px;
	position: absolute;
	z-index:9;
	bottom: 0px;
	width: 196px;
	overflow: hidden;
	padding: 20px 15px ;
	cursor: pointer;
	background-color: rgba(32, 32, 33,0.3);
}
.spbq p{
	position: absolute;
	bottom:10px;
	left:110px;
	line-height: 33px;
	color: #fff
}