body {
}
html {
font-family:微软雅黑;
font-size:14px;
text-align:left;

}
#step1  {margin-bottom:5px; margin-left:25%;}
#step1 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }
#step2  {margin-bottom:5px; margin-left:25%;}
#step2 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }
#step3  {margin-bottom:5px; margin-left:25%;}
#step3 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }
#step4  {margin-bottom:5px; margin-left:25%;}
#step4 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }
#step5  {margin-bottom:5px; margin-left:25%;}
#step5 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }

#step1 >span  {display:block; margin-bottom:15px; vertical-align:middle; font-size:14px; }
#step1 >span input[text]  {width:150px;}
#step1 >span label  { font-size:13px; }
.hidecodepayunit {display:inline; padding-left:3px;}
.errtooptip{font-size:12px;color:red;font-weight:bold;}
#e1{font-size:12px;color:red;font-weight:bold;}
#e2{font-size:12px;color:red;font-weight:bold;}

/*上传文件样式*/
.file{
   position: relative;
   background-color: #b32b1b;
   border: 1px solid #ddd;
   width: 68px;
   height: 25px;
   display: inline-block;
   text-decoration: none;
   text-indent: 0;
   line-height: 25px;
   font-size: 14px;
   color: #fff;
   margin: 0 auto;
   cursor: pointer;
   text-align: center;
   border: none;
   border-radius: 3px;         
}
.file input{
   position: absolute;
   top: 0;
   left: -2px;
   opacity: 0;
   width: 10px;
   cursor:pointer; 
}
#txtCodeUpRar{ cursor:pointer; }
.file a:hover{cursor:pointer; color:white;}
.file a:link{cursor:pointer; color:white;}