<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyAspx.EasyFramework.BllDalModelContext.Properties.Settings.commyaspxdbConnectionString" connectionString="data source=WANGXG-PC\WXG_SQLEXPRESS;Initial Catalog=commyaspxdb;Persist Security Info=True;user id=sa;Password=226226" providerName="System.Data.SqlClient" />
    <add name="commyaspxdbEntities" connectionString="metadata=res://*/EntityFramework.MyAspxEntities.csdl|res://*/EntityFramework.MyAspxEntities.ssdl|res://*/EntityFramework.MyAspxEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WANGXG-PC\WXG_SQLEXPRESS;initial catalog=commyaspxdb;persist security info=True;user id=sa;password=226226;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="commyaspxdbEntities1" connectionString="metadata=res://*/EntityFramework.MyAspxEntities.csdl|res://*/EntityFramework.MyAspxEntities.ssdl|res://*/EntityFramework.MyAspxEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WANGXG-PC\WXG_SQLEXPRESS;initial catalog=commyaspxdb;persist security info=True;user id=sa;password=226226;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>